<!DOCTYPE html>
<html lang="en">
<head>






  <title>Project Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: white;
      padding: 25px;
    }

    body{
    background-color:maroon}

  </style>
</head>
<body>












<nav class="navbar navbar-inverse">
  <div class="container-fluid" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="homepage">Home</a></li>

      </ul>

    </div>
  </div>
</nav>



<script>





function myFunction() {

    var x = document.getElementById('1');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}

</script>
<script>
function myFunction1() {

    var x = document.getElementById('2');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}

</script>
<script>
function myFunction2() {

    var x = document.getElementById('3');
    if (x.style.display === 'none') {
        x.style.display = 'inherit';
    } else {
        x.style.display = 'none';
    }


}

</script>
<script>
function myFunction3() {

    var x = document.getElementById('4');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}

</script>

<script>

function myFunction4() {

    var x = document.getElementById('5');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}
</script>
<script>
function myFunction5() {

    var x = document.getElementById('6');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}
</script>

<script>

function myFunction6() {

    var x = document.getElementById('7');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}
</script>

<script>
function myFunction7() {

    var x = document.getElementById('8');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }


}

</script>

<div class="jumbotron"id="7">
  <h3><b>Matlab Project-PCA</b></h3>
  <p>Use of <b>Singular Value Decomposition</b> to find the relationship among multiple variables in multiple dimensions and representing that relationship on two dimensional system. Matlab used for performing statistical analysis of data(SVD). The Matlab Diary link has the step by step analysis of data using Matlab. The Report link has the details of the overall experiment. <br>

  The links provided below are as follows:

      <ul>


    <li> <a href="https://github.com/hnm6500/Principal-Component-Analysis-Matlab/blob/master/HRISHIKESHMOHOLKAR-report%20(3).pdf">Report </a> </li>


    <li> <a href="https://github.com/hnm6500/Principal-Component-Analysis-Matlab/blob/master/HRISHIKESHMOHOLKAR-diary%20(1).txt" >Matlab Diary </a>   </li>
    <li> <a href="https://github.com/hnm6500/Principal-Component-Analysis-Matlab/blob/master/HRISHIKESHMOHOLKAR-dataset%20.xlsx">Raw Dataset </a>   </li>

</ul>


  </p>

</div>
<footer class="container-fluid text-center">
  <footer>&copy; Copyright 2017 Hrishikesh Moholkar</footer>

</footer>